<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue js</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div id="app">
    <form action="demo1.html" v-on="submit:submitForm">
        <!--<div class="error" v-if="!message">You must enter a message to submit</div>-->
        <!--<textarea name="text1" id="text_1" cols="30" rows="10" v-model="message"></textarea>-->
        <button type="submit">Submit</button>
    </form>
    <!--<h1>-->
    <!--{{ message}}-->
    <!--</h1>-->
    <!--<input type="text" v-model="message">-->
    <!--<pre>{{ $data|json }}</pre>-->
</div>


<script src="vue.min.js"></script>
<script>
    new Vue({
        el:'#app',
        methods:{
            submitForm : function(){
                alert('Submit'),
            },
        },
    });
</script>
</body>
</html>